In [10]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

star_df = pd.read_csv('https://drive.google.com/uc?id=1BQVc6MHjQFtDC9iP1isT_K4ojVe_Oil-')

star_df.sample(10)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
36,6757,1.430000,1.1200,2.41,3,Yellow-White,F
180,2831,0.000231,0.0915,16.21,0,Red,M
41,3365,340000.000000,23.0000,-6.20,4,Red,M
71,3607,0.022000,0.3800,10.12,1,Red,M
86,12010,0.000780,0.0092,12.13,2,Blue-White,B
231,38234,272830.000000,1356.0000,-9.29,5,Blue,O
63,2835,0.000340,0.0918,16.96,0,Red,M
153,16390,1278.000000,5.6800,-3.32,3,Blue-White,B
79,3158,0.001350,0.1610,13.98,1,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M

In [11]:
star_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    int64
 5   Star color              240 non-null    object
 6   Spectral Class          240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.3+ KB